<p id="notice"><%= notice %></p>
<div class="container">
<h1>Are you here?</h1>
<%= link_to "See your Explorer History!", explorer_history_path, class: "btn btn-primary" %>
    <% @claims.each do |claim| %>
        <div class="col-md-6">
          <%= image_tag claim.validation_url %>
        </div>

    <% end %>

</div>

