<p id="notice"><%= notice %></p>
<div class="container">
<h1>Journey Scrapbook</h1>
<p>Pictures from others who reached the final destination</p><br />
<%= link_to "See your full explorer history", profile_path, class: "btn btn-primary" %>
    <% @claims.each do |claim| %>
        <div class="col-md-6">
          <%= image_tag claim.validation_url %>
        </div>
    <% end %>
</div>

