<div class="form">
<h2 style="text-align: center; border-top: 1px solid darkgray; border-bottom: 1px solid darkgray; padding-top: 15px; padding-bottom: 15px; line-height: 3rem;">You're exploring: <br>"<i> <%= @journey.name%></i> "</h2>

<%= render 'form' %>

</div>