<h1>Choose</h1>


<div class="row">
	<div class="col-md-3">
		<h2><%= link_to "About", journeys_path %></h2>
    <p>Inventure encourages people to either invent or explore journeys. Journeys contain stops or pictures with clues, that allow people to discover new places and businesses within their city. The goal with the Inventure app is to make the journey as exciting as the final destination. While most apps give you directions that lead you to your destination, Inventure lets you decide how to arrive without specific directions. Like a scavenger-hunt, Inventure provides pictures and clues that lead you from each stop until you think you have reached the final destination. Once you believe that you have arrived, take a selfie within the location and upload it to the journey’s scrapbook. Now your picture will remain in that journey’s scrapbook for other people to see when they complete the journey!</p>
		<br />
	</div>

	<div class="col-md-3">
		<h2><%= link_to "How to Explore", journeys_path %></h2>
		<p>Inventure encourages people to either invent or explore journeys. Journeys contain stops or pictures with clues, that allow people to discover new places and businesses within their city. The goal with the Inventure app is to make the journey as exciting as the final destination. While most apps give you directions that lead you to your destination, Inventure lets you decide how to arrive without specific directions. Like a scavenger-hunt, Inventure provides pictures and clues that lead you from each stop until you think you have reached the final destination. Once you believe that you have arrived, take a selfie within the location and upload it to the journey’s scrapbook. Now your picture will remain in that journey’s scrapbook for other people to see when they complete the journey!</p>
			<br />
		<p><%= link_to "Do fun things!", journeys_path %></p>
	</div>

	<br />
	<br />

	<div class="col-md-3">
		<h2><%= link_to "How to Invent", new_journey_path %></h2>
		        <p>After you sign up or log in, click the Invent button and you will be directed to the list of steps to create a journey. To add the starting point, take a picture of the location and click the Browse button to select it. Then enter the description of the journey into the text box below. When finished, click the Next Step button. Now you will add all of the stops that contain pictures and clues for the explorer to use when completing your journey. Take a picture of the location and click the Browse button to select it. Once selected, add a clue by entering a couple of short phrases or sentences into the text box below. If your journey requires more stops with clues, click the Add Another Stop button to add as many stops as needed to complete your journey. Once you have added all of your stops, click the Next button. Now enter a name for the journey into the first text box. In the next text box, enter one word phrases or tags that describe your journey (e.g., hungry, thirsty, club). Next, enter the difficulty of the journey with a number (1-5) into the text box below. Click the Next button to add the picture of the final destination of your journey. Once you have taken the picture, click the Browse button to select it. Then enter the name of the final destination into the text box below. Finally, click the Create Journey button to add your new journey to the list for people to explore. Congratulations, you have just invented your first journey!</p>
	</div>
</div><!--row-->