<h1>Choose</h1>


<div class="row ">

	<div class="col-md-3 explore">
		<h2><%= link_to "Explore", journeys_path %></h2>
		<p ><%= link_to "Journey from stop to stop to find new places", journeys_path %></p>
	</div>

	<div class="col-md-3 invent">
		<h2><%= link_to "Invent", new_journey_path %></h2>
		<p><%= link_to "Create journeys with pictures and clues", new_journey_path %></p>
	</div>
</div><!--row-->