<h1>Choose</h1>


<div class="row ">

	<%= link_to(journeys_path) do %>
		<div class="col-md-3 explore">
 			<h2>Explore</h2>
 			<p>Journey from stop to stop to find new places</p>
		</div>
	<% end %>

	<%= link_to(new_journey_path) do %>
		<div class="col-md-3 invent">
 			<h2>Invent</h2>
 			<p>Create journeys with pictures and clues</p>
		</div>
	<% end %>


</div><!--row-->