/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-primary {
	background: #933e40;
	border: none;
}
 h2, label, em, strong, p {
 	color: white;
 }
 .field {
 	text-align: left !important;
 }
 .form {
 	padding: 30px;
 }
 .form-group {
 	padding-bottom: 70px;
 	padding-top: 35px;
 	border-bottom: 1px solid white;
 }
 .form-group h2 {
 	font-size: 22px;
 }
 .image-show img {
 	width: 100%;
 }
.navbackground {
	background-color: #578c7a !important;
	border: none;
}

nav a {
	color: #c3dfcf !important;
}

nav a:hover {
	text-decoration: underline !important;
}
.containerbackground {
	background-color: #1a342f;
	height: 100%;
}
body {
		background-color: #1a342f;

}
.image {
	width: 100%;
	
	object-fit: cover;
}

.overlay {
	text-align: center;
	background-color: #578c7a;
	height: 100px;
	padding:10px;
	margin-bottom: 30px;
}
.overlay h3 {
	margin-top: 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	color: #c3dfcf;
}

.hero-image {
	background: white !important;
 }
 .hero-image img {
 	width: 100%;
 }

a {
	color:#c3dfcf !important;
}

h1.all {
	color: #c3dfcf;

}

.overlay h4 {
	color: #1a342f !important;
}
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.hero-image h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	border: 2px solid black;
	width: 20%;
	margin-left: 45%;
	position: absolute;
	margin-top: -25%;
	padding: 10px;
}
.hero-image a {
	color: black !important;
}
@media screen and (max-width:1000px) {

	.col-md-4 {
	width: 50% !important;
	float: left;
	}
}