/*
 *= require_tree .
 *= require_self
 */

/* This is the primary stylesheet for the Inventure app.
	
	1. Container Styles (Global)
	2. Text Styles (Global)
	3. Button Styles
	4. Navigation & Header Styles (Global)
	5. Landing Page Styles
	6. Responsive Layouts

 */

select {
	color: black;
	width: 100%;
	font-size: 1.7rem;
}
.actions {
	text-align: center;
}
.navbar {
	margin-bottom: 0 !important;
}
/* --------- Container Styles (Global) --------- */
.scrapbook h1{
	font-size: 2rem;
		text-align: center;

}
.scrapbook h2 {
	padding-left: 0px;
	text-align: center;
	font-size: 1.7rem !important;
}
.scrapbook {
	border: 1px solid white;
	margin-bottom: 10px;
	padding-bottom: 10px;

}
.logo {
	width: 300px;
    margin: 0%;
    padding: 0;
}

.landing-nav img {
margin: 0 auto;

}

img {
	width: 100%;
	height: auto;
}
ul.clue {
	padding-left: 0 !important;
}
.clue-container img {
	width: 100% !important;
	height: auto;
}
.clue-container ul li, .clue-container p {
    font-size: 2.5rem;
    line-height: normal;
    text-align: center;
    list-style: none;
}

.clue-container img {
	border-bottom: 1px solid white;
}

.btn-default {
	top: 0 !important;
}
div[id^=flip] {
  min-height: 25px;
}
div[id^=panel] {
  min-height: 50px;
  display:none;
}

body {
	background-color: #1a342f;
}

.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/* --------- Text Styles (Global) --------- */

body, p, a, em, strong, label {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	font-family: 'exo', sans-serif;	
}

input {
	font-family: 'Raleway', sans-serif !important;
}

input[type="file"] {
    display: block;
    width: 100%;
}

h1.mobileheader{
	text-align: center;
}
.center h2 {
	color: white;
}

h2 {
	font-size: 2.5rem;
	text-align: center;
}

.points h3 { /* For displaying points in Explorer History & elsewhere. */
	font-size: 1.8rem;
	text-align: center;

}


/* --------- Button Styles --------- */

.btn-link{ color: white; }

.btn-primary {
	background: #933e40;
	border: none;
	margin-bottom: 35px;
}

.landing-signup-row .btn-primary {
	color: #1a342f !important;
}

.btn-primary body { color: #c3dfcf !important }

.btn-secondary {
	background-color: #933e40;
}

.field { text-align: left !important; }

.form { padding: 30px; }

.form-group {
 	padding-bottom: 70px;
 	padding-top: 35px;
 	border-bottom: 1px solid white;
 }

.form-group h2 { font-size: 22px; }

.image-show img { width: 100%; }

img.clue-image { width:100%; }


/* --------- Navigation Styles (Global) --------- */

.landing-nav {
	background-color: #98C2C8;
}

.navbackground {
	background-color: #578c7a !important;
	border: none;
}

nav a {
	color: #c3dfcf !important;
}

nav a:hover {
	text-decoration: underline !important;
}
.navbar-right a:hover {
	background: none !important;
	text-decoration: underline !important;
}

.navbar-header {
	padding: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.navbar-header img {
	width: 100px;
	height: auto;
}

.container-fluid .navbar-collapse {
	margin-right: 0 !important;
}

.landing-nav .navbar-collapse {
	margin-right: 0 !important;
}


.navbar-collapse li a {
    text-align: center;
    font-size: 2.2rem;
    color: white;
    margin-right: 20px;
    padding: 15px 0 0 30px;
    font-weight: bolder;
}


.icon-bar {
	border: 1px white solid !important;
}


/* --------- Landing Page Styles --------- */

.hero-image {
 	width: 100%;
 	padding: 4% 0;
 	object-fit: cover;
 	min-height: 550px;
 	max-height: 600px;
 	background: url('landing_no_logo.jpg') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: cover;
}

.hero-image a {
	color: #1C3531;
}

.branding {
	margin: auto 33.33333333% auto 41.66666667%;
}

#anchor {
	text-decoration: none;
}

.hero-image p {
	height: 60%;
	width: 100%;
}

.hero-image h1 {
	text-align: center;
	margin: 12% auto;
	color: #1C3531;
	font-size: 3rem;
	font-family: 'Rancho', cursive;
}

.hero-image h2 {
	text-align: center;
	font-size: 2rem;
	color: #1C3531;
	border: 3px solid #1C3531;
	width: 60%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
}

.hero-image a {
	color: black !important;
}

.identity {
	width:100%;
	text-align: center;
	background-color: #f5f5f5;
}

.identity .col-md-3 {

}

.identity h1 {
    font-size: 5rem;
    padding: 40px 0 40px 0;
    font-family: 'exo', sans-serif;
    color: white;
    background-color: #4BA966;
    margin: 0px 0 0;
    box-shadow: 5px 1px 5px #888888;
}
.background {
	background-color: #f5f5f5;

}
.background h2 {
	color: black;
	font-size: 3rem;
	margin-bottom: 40px;
}
.background p {
	color: black;
}

.landing-info h2 {
    font-size: 3rem;
    padding: 20px 0 0 0;
    font-family: 'exo', sans-serif;
    color: black !important;
    margin: 0 0 20px;
    font-weight: 900;
}

.landing-info p {
    font-family: 'Raleway', sans-serif;
    padding: 0 75px;
    text-align: center;
    font-size: 2rem;
    /* padding-bottom: 40px; */
    /* padding-top: 20px; */
    /* padding-right: 20px; */
 
    line-height: 2.5rem;
}

.landing-info .col-md-4 {
	box-shadow: 1px 1px 1px #888888;
    min-height: 300px;
}

.landing-info {
	text-align: center;
}


.scrollingphotos {
	margin: 0 2% 40px;
	max-height: 200px;
}

.explore-img {
	height: 100px;
 	background: url('footprint.png') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;
	margin: 20px 0 0 0;
}

.invent-img {
	height: 100px;
 	background: url('invent.png') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;
	margin: 20px;
}
.preview {
		height: 200px;
 	background: url('mobile-preview.png') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;
}
.repeat-img {
		height: 100px;
		background: url('streetsign.png') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;
	   	margin: 20px 0 0 0;		
	}

.left {
	margin-left: 12%;
}

.right {

	margin-right: 9%;
	padding-left: 20px; /* was 6% */

}

.info h3 {
	color: black !important;
}

.info .btn {
	width: 30%;
}

.map-img {
		background: url('map.png') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;
}

.camera-img {
	min-height: 500px;
		background: url('camera.jpg') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;
	margin-top: 20px;	
}

.hills-img {
	min-height: 500px;
		background: url('hills.png') no-repeat center center;
	   -webkit-background-size: cover;
 	   -moz-background-size: cover;
 	   -o-background-size: cover;
	   background-size: contain;	
}

.invent .col-md-3 {
	margin-left: 16.66666667%;
}

.info h2 {
	font-weight: bolder;
	font-family: 'exo', sans-serif;
	font-size: 3.5rem;
	text-align: left;
	margin-top: 40px;
}

.landing-signup-row {
 	width: 100%;
 	min-height: 600px;
 	padding: 30px;
	background: url('signinbackground.jpg') no-repeat;
		   -webkit-background-size: cover;
	 	   -moz-background-size: cover;
	 	   -o-background-size: cover;
		   background-size: cover;
}

.landing-signup-row h2 {
	color: black;
	margin-bottom: 5%;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif !important;
	font-size: 4rem;
}

.signup-form {
	min-height: 450px;
	border-radius: 15px;
	padding: 30px !important;
	background: white;
	border: .5px solid gray;
	opacity: .85;
}

.signup-form .field {
	margin-bottom: 40px;
}

.signup-form input {
	border: .5px solid #1a342f;
	font-weight: bolder;
}

.signup-form .btn {
		background-color: #4BA966;
		font-weight: bolder;
}
.image {
	width: 100%;
	object-fit: cover;
}

.overlay {
	text-align: center;
	background-color: #578c7a;
	min-height: 100px;
	padding:10px;
	margin-bottom: 30px;
}
.overlay h3 {
	margin-top: 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.5rem;
	color: #c3dfcf;
}
.overlay h4 {
	color: #1a342f !important;
	font-size: 1.2rem;

}

th.center {
	font-weight: bolder;
	background: white;
	color: black;
}


h1.all {
	color: white;
}

.scrollingphotos {
	height: 250px;
	background: url('signinbackground.jpg') no-repeat;
		   -webkit-background-size: cover;
	 	   -moz-background-size: cover;
	 	   -o-background-size: cover;
		   background-size: cover;
}

.form h2 {
	color: white;
	margin-bottom: 5%;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}

label {
	font-size: 2rem;
	font-weight: normal;
}

.landing-signup-row label {
	color: #1a342f;
	font-family: 'Raleway', sans-serif;
}

.stop_btn {
	border: 1px solid white !important;
	border-radius: 10px !important;
    padding: 5px !important;
}
ul.validation {
	padding-left: 0px !important;
}


/* ---------------------- About Page styles ------------------------ */

.left h2, .right h2 {
	text-align: left;
	margin-top: 40px;
}

.hills {
	height: 450px;
	background: url('hills.png') no-repeat;
			   -webkit-background-size: cover;
	 	   -moz-background-size: cover;
	 	   -o-background-size: cover;
		   background-size: cover;
}

.sidebar {
	color: white;
	height: 450px;
	padding: 20px;
}

.about-row-1 h1 {
	color: black;
	text-align: center;
	font-size: 8rem;
}

.about {
	margin: 0;
}
.about .col-md-4 {
	padding: 0;
}


.about li {
	padding-bottom: 20px;
	font-size: 1.5rem;
}


.invent-row {
	background-color: #98C2C8;
}

img.explore-hand, img.invent-hand {
	width: 110%;

}

.about-invent {
	background-color: #f5f5f5;
	width: 70%;
	min-height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.about-invent .row, .about-explore .row {
	border-bottom: 1px solid lightgray;
	padding-top: 20px;
}

.about-row-3 {
	background-color: #933e40;
}

.about-explore {
	background-color: #578c7a;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

div.circle img {
    background: url(hills.png) no-repeat;
    width: 300px;
    min-height: 300px;
    display: block;
    border-radius: 50%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
}

/* --------- Responsive Layouts (Smaller Screen Styles) --------- */

@media screen and (max-width:1100px) {

	.navbar-collapse:before, .navbar-collapse:after { /*Gets rid of a default bootstrap border */
    	content: " ";
    	display: none;
	}

/*
	.landing-nav .navbar-collapse {
		background-color: #98C2C8;
	}

	.hero-image {
	 	width: 100%;	
	 	max-height: 50px;
	 	background: url('mobilelanding.jpg') no-repeat;
		   -webkit-background-size: cover;
	 	   -moz-background-size: cover;
	 	   -o-background-size: cover;
		   background-size: cover;
	}


	.hero-image h1 {
		font-size: 1.5rem;
	}

	.hero-image h2 {
		font-size: 1.2rem;
		width: 18%;
		border: 1px solid black;	
	}

	.col-md-4 {
		width: 50% !important;
		margin: auto;
	}

	.identity h1 {
		font-size: 2.5rem;
		padding: 8% 0;
	}

	.form h2 {
		font-size: 2rem;
	}

	label {
		font-size: 1.3rem;
	}

*/

}


@media screen and (max-width:960px) {


}

/* --------- Mobile Styles: Turn into default styles! --------- */

@media screen and (max-width:568px) {
	
	.landing-nav .navbar-collapse {
		background-color: #98C2C8;
	}

	.hero-image {
	 	width: 100%;	
	 	min-height: 440px !important;
	 	background: url('mobilelanding.jpg') no-repeat;
		   -webkit-background-size: cover;
	 	   -moz-background-size: cover;
	 	   -o-background-size: cover;
		   background-size: cover;
	}

	.col-md-6 {
		width: 50% !important;
		float: left;
	}

	.landing-nav .navbar-collapse {
		margin-left: 15% !important;
	}

	.background, .identity {
		background-color: #98C2C8;
	}

	.logo {
		width: 65%;
		margin-left: 17.5%;
		padding: 0;
	}

	p, label {		/* For more readable mobile text */
		font-size: 1.9rem;
	}

	.navbar-collapse li a {
	    padding: 30px 0 0 30px;
	}

	.form h2 {
		text-align: left;
		font-size: 2.5rem;
	}

	.branding {
		margin: 20px 0 0;
	}

	.branding h1 {
    	padding-left: 25px;
	}

	.hero-image h1 {
		font-size: 2.3rem;
		margin: 0 0 30px;
	}

	.hero-image h2 {
	    font-size: 1.5rem;
	    width: 27%;
    	margin: auto 42%;
    	border: 1px solid #1C3531;
	}

	.identity .col-md-3 {
		margin-left: 7% !important;
	}

	.identity h1 {
		font-size: 2.5rem;
		padding: 20px 0;
	}

	.identity h2 {
		font-size: 2rem;
    	padding: 20px;
    	margin: 20px 0 0;
    	border-bottom: 1px solid gray;
	}

	.identity p {
		font-size: 1.3rem;
	}
	
	.landing-info h2 {
		color: #913D42;
		font-weight: bold;
		letter-spacing: 3px;
	}

	.landing-info p {
	font-size: 2.2rem;
    line-height: normal;
    padding: 0;
	}

	.col-md-4, .col-md-3 {
		width: 100% !important;
		padding: 0;
	}

	.explore, .invent, .repeat {
		text-align: center;
		padding: 40px;
		display: block;

	}

	.explore {
		background-color: #98C2C8;		
	}

	.explore .col-md-5,
	.invent .col-md-5,
	.invent .col-md-3 {
		margin: 0;
	}



	.explore-text, .invent-text {
		padding-top: 0;
	}


	.btn-primary {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.landing-signup-row {
		min-height: 400px;
	}

	.landing-signup-row h2 {
	    font-size: 3rem;
	}

	.add_fields { /* Making "Add Another Stop" on journey creation into a button */
		width: 45%;
		display: block;
		margin: 0 0 35px;
		background: #97bec3;
		border: none;
		border-radius: 4px;
		padding: 6px 12px;
    	font-size: 14px;
    	line-height: 1.42857143;
   	 	text-align: center;
    	vertical-align: middle;
 	   -ms-touch-action: manipulation;
    	touch-action: manipulation;
    	cursor: pointer;
    	white-space: nowrap;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

	}

	.explore {
		background-color: #578c7a;
		color: white;
	}

	.repeat {
		background-color: #933e40;
		color: white;
	}
	.invent {
		background-color: #98C2C8;
	}

/* REMOVE AFTER REORGANIZING THE HTML FOR MOBILE */
	.background .target {
		display: none !important;
	}

	.explore a:hover, .explore a:hover > h2, .explore a:hover > p,
	.invent a:hover, .invent a:hover > h2, .invent a:hover > p,
	.repeat a:hover, .repeat a:hover > h2, .repeat a:hover > p {
		color: black !important;
		text-decoration: none !important;
	}



}