/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --------- Text Styles --------- */

p, body, a, em, h4 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

h1.mobileheader{
	text-align: center;
}
.center h2 {
	color: #DCD5C7;
}

h2 {
	font-size: 2.5rem;
	text-align: center;
}

.points h3 { /* For displaying points in Explorer History & elsewhere. */
	font-size: 1.8rem;
	text-align: center;

}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}


/* --------- Button Styles --------- */

.btn {
	display: block;

}
.btn-link{
	color: white;
}

.btn-primary {
	background: #933e40;
	border: none;
	margin-bottom: 35px;
}

.btn-primary body {
	color:#c3dfcf !important
}

 h2, label, em, strong{
 	color: white;
 }
 .field {
 	text-align: left !important;
 }
 .form {
 	padding: 30px;
 }

 .landingformimg {
 	padding: 30px;
 	background: url('signinbackground.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}

 .form-group {
 	padding-bottom: 70px;
 	padding-top: 35px;
 	border-bottom: 1px solid white;
 }
 .form-group h2 {
 	font-size: 22px;
 }
 .image-show img {
 	width: 100%;
 }

img.clue-image {
	width:100%;
}

/* --------- Navigation Styles --------- */

.navbackground {
	background-color: #578c7a !important;
	border: none;
}
nav a {
	color: #c3dfcf !important;
}

nav a:hover {
	text-decoration: underline !important;
}
.navbar-header {
	padding: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.navbar-header img {
	width: 100px;
	height: auto;

}
.landing-nav {
	background: #9FC0C7;

}
.landing-nav ul{
	list-style-type: none;	
	text-align: right;
	margin-right: 10px;
}
.landing-nav ul li {
	display: inline;
	margin-right: 15px;
}

.landing-nav a {
		color: #1a342f;
}

.container-fluid .navbar-collapse {
	margin-right: 0 !important;
}
.navbar-collapse li {
	padding-left: 10px;
	text-align: center;
	font-size: 1.5rem;
}

.icon-bar {
	border: 1px white solid !important;
}

.calltoaction {
	width:100%;
	height: 250px;
	background-color: #913D42;
	text-align: center;
}

.calltoaction p {
	font-size: 3rem;
	padding-top: 10%;
	font-family: 'Montserrat', sans-serif;
	color: #DCD5C7 !important;

}


.landingcolumns {
	height: 900px;
	background-color: #913D42;

}


.l-column-left{
	background-color:#913D42;
	height:350px;


}

.l-column-right{
	background-color:#913D42;
	height:350px;


}


.landingcolumns h1 {
	text-align: center;
	font-size: 3rem;
	padding-top: 150px;
	font-family: 'Montserrat', sans-serif;
	color: #1A3530 !important;
}

.l-text-left {
	height: 350px;
	background-color: #913D42;
}

.l-text-right {
	height: 350px;
	background-color: #913D42;
}


.landingform {
	border-radius: 15px;
	padding: 15px !important;
	background: white;
	opacity: 0.9;
}

.containerbackground {
	background-color: #1a342f;
	height: 100%;
}
body {
	background-color: #1a342f;

}
.image {
	width: 100%;
	object-fit: cover;
}

.overlay {
	text-align: center;
	background-color: #578c7a;
	min-height: 100px;
	padding:10px;
	margin-bottom: 30px;
}
.overlay h3 {
	margin-top: 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.5rem;
	color: #c3dfcf;
}
.overlay h4 {
	color: #1a342f !important;
	font-size: 1.2rem;

}

.hero-image {
	background: white !important;
 }
 .hero-image img {
 	width: 100%;
 	object-fit: cover;
 }

.jumbotron{
	background-color: #578c7a !important;
	text-align: center;
	font-size: 7rem !important;
}

th.center {
	font-weight: bolder;
	background: white;
	color: black;
}


h1.all {
	color: #DCD5C7;
}


.landingformimg h2 {
	color: #1a342f;
	margin-bottom: 5%;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}

.form h2 {
	color: #DCD5C7;
	margin-bottom: 5%;
	font-weight: normal;
	font-family: 'Fredoka One', cursive;
}

label {
	font-size: 2rem;
	font-weight: normal;
	color: #1a342f;
	font-family: 'Montserrat', sans-serif;
}

.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;

}
.hero-image p {
	margin-top: -40%;
	text-align: center;
	width: 20%;
	position: absolute;
	margin-left: 45%;
	color: black;
	line-height: 3rem;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;

}

.hero-image h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	border: 2px solid black;
	width: 20%;
	margin-left: 45%;
	position: absolute;
	margin-top: -20%;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

.hero-image a {
	color: black !important;
}
@media screen and (max-width:1000px) {

	.col-md-4 {
	width: 50% !important;
	float: left;
	}

	.hero-image h1 {
		font-size: 1.2rem;
		width: 20%;
		border: 1px solid black;	
	}

	.hero-image p {
		font-size: 1rem;
		width: 50%;
		margin-left: 30%;
	}

	.form h2 {
		font-size: 2rem;
	}

	label {
		font-size: 1rem;
	}
}
	@media screen and (max-width:568px) {

	.calltoaction p {
		font-size: 1rem;
		padding-top: 15%;
	}

	label {
		font-size: 1rem;
	}

	.calltoaction {
		height: 125px;
	}
	
	.col-md-4 {
		width: 100% !important;
		float: left;
	}

	.mobilelanding {
		padding:0px;
	}

	.l-column-left {
		height:100px;
		margin: 0px;
	}

	.l-column-right{
		height:100px;
		margin: 0px;
	}

	.landingcolumns {
		height: 200px;
	}

	.landingcolumns h1 {
		font-size: 2rem;
		padding-top: 32.5px;
		margin: 0px;
	}


	.hero-image h1 {
		font-size: .8rem;
		margin-top: -25%;
	}
	.hero-image p{
		line-height: 1.2rem;
		margin-left: 40.5%;
		font-size: 1.2rem;
		width: 30%;
	}
	.btn-primary {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.landingformimg {
		min-height: 400px;
	}

}