<!DOCTYPE html>
<html>
<head>
  <title>Inventure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/pages/journeys">All Journeys</a>
<a href="/pages/dashboard">Creator Dashboard</a>
<%= yield %>

</body>
</html>
